#homepage {
  display: flex;
  width: 100vw;
  height: 100vh;
}
#homepage .top {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 70vh;
}
#homepage .container {
  margin: auto;
  width: 70vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.tech-stack {
  margin: auto;
  width: 65vw;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.stacks {
  display: flex;
  flex-wrap: wrap;
}
.circle {
  cursor: pointer;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.circle:hover {
  margin-top: -10px;
  background-color: var(--secondary-color);
}
.icon {
  width: 60%;
}
.profile-pic {
  margin: auto 0;
  min-height: 300px;
  height: 16vw;
  min-width: 300px;
  width: 16vw;
  background-color: var(--primary-color);
  background-image: var(--profile-pic);
  background-size: cover;
  background-repeat: no-repeat;
  animation: profile 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  z-index: 0;
  order: 1;
  cursor: pointer;
}

@keyframes profile {
  0% {
    border-radius: 60% 30% 70% 40%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 30% 60%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 30% 70% 40%/60% 30% 70% 40%;
  }
}
.headers {
  height: 250px;
  max-height: fit-content;
  margin: auto 0;
  min-width: 350px;
  width: 35vw;
  font-size: var(--h2);
  font-weight: 700;
}
#headline {
  margin: 10px auto 0;
  color: var(--font-color);
  font-size: var(--h4);
  font-weight: 500;
  order: 0;
}
.emoji {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.emoji:hover {
  width: 55px;
  height: 55px;
}
@media screen and (max-width: 550px) {
  #homepage .container {
    margin-top: 100px;
    width: 90%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .emoji {
    width: 40px;
    height: 40px;
  }
  .emoji:hover {
    width: 40px;
    height: 40px;
  }
  .tech-stack {
    width: 100%;
    height: max-content;
    justify-content: center;
  }
  .stacks {
    justify-content: center;
  }
  .circle {
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
  }
  .circle:hover {
    margin-top: 0;
  }
  #headline {
    width: 80%;
    font-size: var(--h5);
  }
  .headers {
    height: fit-content;
    min-width: 100%;
    font-size: var(--h4);
    text-align: center;
  }
  .profile-pic {
    margin: 20px auto;
    min-width: 210px;
    min-height: 210px;
  }
}
@media screen and (min-width: 550px) and (max-width: 1000px) {
  #homepage .container {
    margin-top: 60px;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .tech-stack {
    width: 100%;
    height: max-content;
    justify-content: center;
  }
  .stacks {
    justify-content: center;
  }
  .emoji {
    width: 40px;
    height: 40px;
  }
  .emoji:hover {
    width: 40px;
    height: 40px;
  }
  .circle {
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
  }
  .headers {
    height: fit-content;
    margin: 10px auto;
    min-width: 100%;
    font-size: var(--h4);
    text-align: center;
  }
  .profile-pic {
    margin: auto;
    min-width: 220px;
    min-height: 220px;
  }
}
