#contact {
  scroll-margin-top: 60px;
  padding-bottom: 20px;
  width: 100vw;
  min-height: 100vh;
  max-height: max-content;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact .container {
  margin: 40px;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#contact .contact-form {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#contact .input-field {
  outline: none;
  text-indent: 5px;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  color: var(--font-color);
  border: 0;
}
#contact .submit-button {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: var(--tertiary-color);
  border-radius: 4px;
  border: 0;
}
#contact .contact-headline-container {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact .contact-headline-container p {
  display: flex;
  overflow: hidden;
}
#contact .contact-headline-container .label {
  display: flex;
  min-width: 70px;
}
#contact .contact-headline-container .body {
  text-align: justify;
}
#contact .formdata {
  color: var(--link-color);
}
@media screen and (max-width: 550px) {
  #contact .container {
    display: grid;
    grid-template-columns: auto;
    font-size: 14px;
  }
  #contact .form {
    width: 80vw;
  }
  #contact .contact-headline-container {
    margin: auto;
    margin-top: 20px;
    width: 80vw;
    padding: 0;
  }
}
@media screen and (min-width: 550px) and (max-width: 1000px) {
  #contact .container {
    margin: 30px auto;
    display: grid;
    grid-template-columns: auto;
  }
  #contact .form {
    width: 80vw;
  }
  #contact .contact-headline-container {
    margin: auto;
    margin-top: 20px;
    width: 80vw;
    padding: 0;
  }
}
@media screen and (min-width: 1000px) {
  #contact .container {
    margin: 30px auto;
  }
}
