#navbar {
  height: 60px;
  width: 100vw;
  background-color: transparent;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 5;
}
#navbar2 {
  height: 60px;
  width: 100vw;
  display: flex;
  position: fixed;
  background-color: var(--nav-color);
  top: 0;
  z-index: 5;
}
.nav-logo {
  width: 86px;
  height: 60px;
}
.nav-items {
  margin-left: auto;
  margin-right: 100px;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.nav-items a {
  text-decoration: none;
}
.nav-item {
  padding: 16px 24px;
  font-size: var(--h4);
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}
.nav-item:hover {
  color: var(--link-color);
}
.menu {
  display: none;
}
.burger {
  margin: auto;
  width: 30px;
  height: 30px;
}

/* @keyframes show {
  0% {
    left: 100%;
  }
  100% {
    left: 60%;
  }
}
@keyframes hide {
  0% {
    left: 10%;
  }
  100% {
    left: 100%;
  }
} */
@media screen and (max-width: 550px) {
  .nav-items {
    display: none;
  }
  .nav-item {
    padding: 10px 16px;
    font-size: var(--h5) !important;
  }
  .menu {
    margin: 0 0 0 auto;
    width: 60px;
    height: 100%;
    display: flex;
    cursor: pointer;
  }
  .show {
    margin: 0 !important;
    display: flex !important;
    flex-direction: column;
    width: 40% !important;
    min-height: max-content !important;
    height: max-content;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--nav-color);
    border-radius: 0 0 0 12px;
    transition: 0.3s ease-in-out;
    transform: translateX(0%);
  }
  .hide {
    margin: 0 !important;
    display: flex !important;
    flex-direction: column;
    width: 40% !important;
    min-height: max-content !important;
    height: max-content;
    position: absolute;
    top: 60px;
    right: -40%;
    background-color: var(--nav-color);
    border-radius: 0 0 0 12px;
    transition: 0.3s ease-in-out;
    transform: translateX(0%);
  }
  /* .show {
    margin: 0 !important;
    display: flex !important;
    flex-direction: column;
    width: 40% !important;
    min-height: max-content !important;
    height: max-content;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--nav-color);
    border-radius: 0 0 0 12px;
    animation-name: show;
    animation-duration: 1s;
  }
  .hide {
    margin: 0 !important;
    display: flex !important;
    flex-direction: column;
    width: 40% !important;
    min-height: max-content !important;
    height: max-content;
    position: absolute;
    top: 60px;
    right: -40%;
    background-color: var(--nav-color);
    border-radius: 0 0 0 12px;
    animation-name: show;
    animation-duration: 1s;
  } */
}
@media screen and (min-width: 550px) and (max-width: 1000px) {
  .nav-items {
    display: none;
  }
  .nav-item {
    padding: 10px 16px;
    font-size: var(--h5) !important;
  }
  .menu {
    margin: 0 0 0 auto;
    width: 60px;
    height: 100%;
    display: flex;
    cursor: pointer;
  }
  .nav-item {
    padding: 16px 100%;
  }
  .show {
    margin: 0 !important;
    display: flex !important;
    flex-direction: column;
    width: 40% !important;
    min-height: max-content !important;
    height: max-content;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--nav-color);
    border-radius: 0 0 0 12px;
    animation-name: show;
    animation-duration: 1s;
  }
  .hide {
    margin: 0 !important;
    display: flex !important;
    flex-direction: column;
    width: 40% !important;
    min-height: max-content !important;
    height: max-content;
    position: absolute;
    top: 60px;
    right: -40%;
    background-color: var(--nav-color);
    border-radius: 0 0 0 12px;
    animation-name: show;
    animation-duration: 1s;
  }
}
