@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.7s ease-in-out;
  color: var(--body-color);
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  cursor: default;
  z-index: 1;
}
:root {
  --opposite-color: #000;
  --body-background: #eeeeee;
  --body-color: #050031;
  --font-color: #616161;
  --primary-color: #77c2ff;
  --secondary-color: #b0dcff;
  --tertiary-color: #c1e3ff;
  --nav-color: #f0ffff;
  --link-color: #003cff;
  --header-color: #050137;
  --toggle-bg: url("./components/ToggleButton/Images/clouds.png");
  --profile-pic: url("./components/HomePage/Images/ProfilePic.png");
  --h1: 40px;
  --h2: 28px;
  --h3: 24px;
  --h4: 16px;
  --h5: 14px;
  --h6: 10px;
}

[theme="dark"] {
  --opposite-color: #fff;
  --body-background: #030022;
  --body-color: #d5d5d5;
  --font-color: #d7d7d7;
  --primary-color: #7300ff;
  --secondary-color: #4d007c;
  --tertiary-color: #050137;
  --nav-color: #030017;
  --link-color: #00c8ff;
  --header-color: #dfdfdf;
  --toggle-bg: url("./components/ToggleButton/Images/stars.png");
}
.App {
  background-color: var(--body-background);
  min-height: 100vh;
  height: max-content;
  min-width: 100vw;
  max-width: max-content;
}
.header {
  margin-top: 50px;
  font-size: var(--h3);
  overflow: hidden;
}
.header span {
  padding: 10px 20px 18px;
  display: block;
  color: var(--header-color);
  font-family: "playfair", sans-serif;
  text-transform: capitalize;
}
.header:before {
  background-color: var(--header-color);
  content: "";
  display: block;
  height: 3px;
  width: 50%;
  transition: all 0.7s ease-in-out;
  margin-bottom: 5px;
}
.header:after {
  background-color: var(--header-color);
  content: "";
  display: block;
  height: 3px;
  width: 50%;
  margin-left: 50%;
  transition: all 0.7s ease-in-out;
  margin-bottom: 0.25em;
}
@media screen and (max-width: 550px) {
  .header {
    margin-top: 50px;
    font-size: var(--h3) !important;
    overflow: hidden;
  }
}
@media screen and (min-width: 550px) and (max-width: 1000px) {
}
